/* Images belong to Heather Kusmierz */

body {
    color: #ddd;
    text-shadow: 2px 2px 2px #222;
}

.imghead {
    background-image: url("../Images/BeachSunrise.jpg");
    background-position: center center;
    background-size: cover;
    height: 750px;
    padding: 1px 1px 1px 1px;
}

.header {
    font-size: 65px;
    padding-top: 30px;
}

#weather {
  margin-bottom: 30px;
}

a, a:focus {
    color: #ddd;
}
